--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

torch==2.9.0
torchaudio==2.9.0
torchcodec>=0.8.0,<1.0
huggingface-hub>=0.31,<1.0
librosa>=0.10.2,<1.0
matplotlib>=3.9,<4.0
numpy>=1.26,<3.0
pandas>=2.2,<3.0
praat-parselmouth>=0.4.5,<1.0
scikit-learn>=1.5,<2.0
scipy>=1.11,<2.0
tensorboard>=2.18,<3.0
tqdm>=4.66,<5.0
transformers>=4.51,<5.0
